body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.logo-boxes {
  width: 148px;
  height: 64px;
}

/* mainpage */

.main-page {
  background: white;
}

.main-page-text-container {
  border-radius: 40px;
  background: #dff5e1;
  padding: 60px 60px 60px 60px;
  box-sizing: border-box;
  margin-top: 60px;
}

.main-page-btn {
  border-radius: 50px;
  background: linear-gradient(180deg, rgb(100, 187, 71), rgb(44, 149, 83) 100%);
  border: none;
  color: #fff;
  padding: 12px 24px 12px 24px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* photos */
.wrapper4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}
.items {
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item {
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(0.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition),
    width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after {
  left: calc(var(--index) * -1);
}

.items .item:hover {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

.items .item:hover + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 0.6)) rotateY(15deg);
  z-index: -4;
}

.items .item:has(+ :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has(+ * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has(+ * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has(+ * + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
}

.items .item:active,
.items .item:focus {
  width: 28vw;
  filter: inherit;
  z-index: 100;
  transform: translateZ(calc(var(--index) * 10));
  margin: 0 0.45vw;
}

.wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.wrapper2 {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-left: 18px;
}

.logo {
  margin-top: 94px;
  margin-bottom: 0px;
  width: 180px;
  height: 74px;
}

.main-page-text-hello {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 60px;
}

.main-page-text-title {
  color: rgb(27, 29, 31);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 24px;
}

.main-page-text-descr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 32px;
}

/* header */

header {
  background-color: #f8f9fa;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.menu li a {
  text-decoration: none;
  font-weight: 800;
}

.search input {
  margin-right: 0px;
  border-radius: 27px;
  font-family: "Montserrat", sans-serif;
  padding: 6px;
  margin-right: 148px;
}

.image {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1150px;
  right: 900px;
  top: 44px;
  bottom: -57px;
}

.home-link {
  color: rgb(95, 184, 72);
  font-weight: bold;
}
.home-link:hover {
  color: rgb(95, 184, 72);
  font-weight: bold;
}

.home-link2 {
  color: rgb(0, 0, 0);
}
.home-link2:hover {
  color: rgb(62, 175, 69);
}
.form-page {
  background: linear-gradient(
    -89.43deg,
    rgb(62, 175, 69) 1.344%,
    rgb(252, 254, 254) 99.8%
  );
  padding-top: 80px;
  padding-bottom: 80px;
}

/* button */
.container {
  width: 140px;
  margin-left: 0px;
}
.container .btn {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin-right: 48px;
}
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #000000;
  font-weight: 400;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  font-weight: 900;
}
.container .btn:hover a {
  letter-spacing: 3px;
}
.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after {
  background: #a1f0ae;
  box-shadow: 0 0 5px #84ff99, 0 0 15px #84ff99, 0 0 30px #84ff99,
    0 0 60px #84ff99;
}

/* about us */
.img-1 {
  margin-top: 52px;
  width: 120px;
  height: 150px;
  margin-bottom: 40px;
  margin-left: 32px;
  margin-right: 32px;
}
.img-2 {
  margin-top: 52px;
  width: 190px;
  height: 150px;
  margin-bottom: 38px;
  margin-left: 32px;
  margin-right: 32px;
}
.img-3 {
  margin-top: 52px;
  width: 190px;
  height: 150px;
  margin-bottom: 40px;
  margin-left: 32px;
  margin-right: 32px;
}

.about-us {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 100px;
}

.us-dscr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 772px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 0px;
}

.us-header {
  color: rgb(27, 29, 31);
  font-size: 34px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.us-item-title {
  color: rgb(27, 29, 31);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.us-item-descr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 52px;
  width: 334px;
  padding-left: 24px;
}

.us-item {
  width: 374px;
  margin-bottom: 0;
}

.text {
  color: rgb(27, 29, 31);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 580px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 0px;
}
.us-item-title-sec {
  color: rgb(27, 29, 31);
  font-size: 52px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

/* boxes */

.img-box1 {
  margin-top: 92px;
  width: 300px;
  height: 220px;
  margin-bottom: 40px;
  margin-left: 32px;
  margin-right: 32px;
}

.img-box2 {
  margin-top: 92px;
  width: 300px;
  height: 230px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.img-box3 {
  margin-top: 64px;
  width: 300px;
  height: 260px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.img-box4 {
  margin-top: 92px;
  width: 300px;
  height: 230px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.img-box5 {
  margin-top: 92px;
  width: 340px;
  height: 270px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.img-box6 {
  margin-top: 104px;
  width: 300px;
  height: 270px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-right: 32px;
}

.img-box7 {
  margin-top: 104px;
  width: 300px;
  height: 270px;
  margin-bottom: 20px;
  margin-left: 32px;
  margin-right: 32px;
}
.img-box8 {
  margin-top: 92px;
  width: 340px;
  height: 270px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 22px;
}

.boxes {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 100px;
}

.boxes-dscr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 772px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 0px;
}

.boxes-dscr2 {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 772px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 0px;
}
.boxes-header {
  color: rgb(27, 29, 31);
  font-size: 34px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 32px;
}
.boxes-header2 {
  color: rgb(27, 29, 31);
  font-size: 28px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 14px;
}

.boxes-item-title {
  color: rgb(27, 29, 31);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.boxes-item-descr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  width: 334px;
  padding-left: 24px;
}

.boxes-item {
  width: 374px;
  margin-bottom: 0;
}
.text {
  color: rgb(27, 29, 31);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 580px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 0px;
}
/* form with email */
.form {
  border-radius: 40px;
  background: rgb(255, 255, 255);
  width: 573px;
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

.form-title {
  color: rgb(27, 29, 31);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.form-descr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.form-input {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 453px;
  height: 60px;
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.form-lable {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.form-field {
  text-align: left;
  margin-bottom: 24px;
}

.form-btn {
  border-radius: 50px;
  background: linear-gradient(180deg, rgb(100, 187, 71), rgb(44, 149, 83) 100%);
  border: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 48px;
}
button:hover {
  background: linear-gradient(180deg, rgb(40, 99, 21), rgb(20, 107, 49) 100%);
}

.wrapper-3 {
  width: 1470px;
  height: 720px;
}
.wrap-items-ship {
  display: flex;
  flex-direction: row;
}

/* form shipping */

.ship-header {
  width: 1000px;
  color: rgb(27, 29, 31);
  font-size: 34px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  margin-left: 280px;
  margin-top: 18px;
  margin-bottom: 6px;
}
.ship-dscr {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  width: 772px;
  margin-top: 0px;
  margin-left: 340px;
  text-align: center;
}
.ship-dscr-2 {
  color: rgb(27, 29, 31);
  font-size: 19px;
  font-weight: 400;
  margin-right: 30px;
  text-align: right;
  margin-top: 38px;
  height: 20px;
  order: 2;
  width: 330px;
  padding-right: 0;
  margin-left: 0px;
}

.ship-dscr-3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 70px;
  margin-right: 0px;
  margin-left: 610px;
}

.map {
  border-radius: 1em;
  margin-top: -240px;
  margin-left: 60px;
  width: 650px;
  height: 450px;
  order: 1;
  margin-right: 300px;
}

.result {
  color: rgb(27, 29, 31);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -50px;
  padding-left: 20px;
}
.form2 {
  font-family: "Montserrat", sans-serif;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  height: 180px;
  margin-top: 12px;
  margin-left: 0px;
  margin-right: 20px;
  order: 3;
}

.label2 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 254px;
  text-align: right;
  margin-bottom: 20px;
}

.form2-inpt-2[type="text"],
input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  font: 1em sans-serif;
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 0.5em;
  margin-bottom: 24px;
  padding: 8px;
  margin-left: 16px;
}

.form2-inpt[type="submit"] {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 240px;
  padding: 0.5em;
  color: #ffffff;
  background: linear-gradient(180deg, rgb(100, 187, 71), rgb(44, 149, 83) 100%);
  cursor: pointer;
  margin-bottom: -50px;
}
.form2-inpt:hover {
  background: linear-gradient(180deg, rgb(45, 83, 32), rgb(25, 85, 47) 100%);
}

#deliveryCost {
  font-family: "Montserrat", sans-serif;
  margin-top: 38px;
  font-size: 16px;
  color: rgb(11, 11, 11);
  font-weight: 800;
}

/* footer */
.footer {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}
.footer div {
  margin-right: 20px;
}
.footer h2,
.footer h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(10, 10, 10);
}
.footer p {
  color: grey;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  background: linear-gradient(180deg, rgb(100, 187, 71), rgb(44, 149, 83) 100%);
  color: white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.powr-form-builder {
  background: linear-gradient(
    -89.43deg,
    rgb(62, 175, 69) 1.344%,
    rgb(252, 254, 254) 99.8%
  );
  padding-top: 80px;
  padding-bottom: 80px;
}
